.el-button.el-button--primary {
  background-color: var(--el-color-primary);
}
.el-button.el-button--success {
  background-color: var(--el-color-success);
}
.el-button.el-button--info {
  background-color: var(--el-color-info);
}
.el-button.el-button--warning {
  background-color: var(--el-color-warning);
}
.el-button.el-button--danger {
  background-color: var(--el-color-danger);
}

.background .page-card {
  --linesColor: rgba(50,0,0,0.05);
  background-image: repeating-linear-gradient(-45deg,var(--linesColor),var(--linesColor) 1px,transparent 0,transparent 50%);
  background-size: 20px 20px;
} 